ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

em {
  font-style: normal;
}


.spin-global-loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(#fff, 0.7);
}
